@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
  font-family:'Open Sans', sans-serif;
  margin: 0;
  line-height: 1.15;
  background-color: #f8f9fa;

}

.form-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container{
  width: 700px;
  height: 650px;
  padding: 20px 0;
  border: 1px solid black;

}

.form{
  width: 80%;
  height: 80%;  
  display: grid;
  justify-content: center;
  grid-template:
    'title title'
    'firstname lastname'
    'error1 error2'
    'email category'
    'error3 error4'
    'text-box text-box'
    'error5 error5'
    'photo photo'
    'error6 error6'
    'button.'
  ;
  padding: 60px;
}

@media(max-width: 768px) {
  .container{
    max-width: 360px;
    height:850px;
    padding: 0;
    margin: 0 20px; 
  }

  .text-box{
    max-width: 190px;
    border: none;
  }

  .form {
    margin-left: 60px;
    width: 50%;
    height: 80%;
    display: grid;
    justify-content: center;
    
    grid-template:
      'title title'
      'firstname firstname'
      'error1 error1'
      'lastname lastname'
      'error2 error2'
      'email email'
      'error3 error3'
      'category category'
      'error4 error4'
      'text-box text-box'
      'error5 error5'
      'photo photo'
      'error6 error6'
      'button.'
    ;
  }
}

.title{
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 40px;
  
  grid-area: title;
}

.input{
  outline: 0;
  border: 0;
  border-bottom: 2px #737373 solid;
  font-size: 16px;
  width: 200px;
}

.button-box{
  justify-content: start;
  padding-top: 20px;;
}

.button{
  border: none;
  background-color: #4c43a1;
  color: #f8f9fa;
  padding: 6px 35px;
  border-radius: 0; 
  width: 200px;
  grid-area: button;
}

.text-box{
  padding-left: 10px;
  padding-top: 10px;
  width: 470px;
  height: 200px;
  resize: none;
}

.firstname {
 grid-area: firstname;
 margin-right: 75px;
}

.lastname {
  grid-area: lastname;
 }

 .email {
  grid-area: email; 
  margin-right: 75px;

 }

 .category{
  grid-area: category;
 }

 .text-box {
  grid-area: text-box;
 }

 .photo-box{
  grid-area: photo;
  width: 230px;
 }

 .error-first{
  grid-area: error1;
  color: #dc3545;
 }

 .error-last{
  grid-area: error2;
  color: #dc3545;
 }

 .error-email {
  grid-area: error3;
  color: #dc3545; 
}

 .error-category{
  grid-area: error4;
  color: #dc3545; 
}

 .error-text{
  grid-area: error5;
  color: #dc3545; 
}

 .error-photo{
  grid-area: error6;
  color: #dc3545;
 }

 .button:disabled{
  background-color: #1c1841;
 }